@import url("./landing.css");
@import url("./others.css");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto Serif", sans-serif;
}

/* Utility class ---------------------------- */
.mt-3 {
  margin-top: 1.5rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}

.py-2 {
  padding: 1rem 0;
}
.py-3 {
  padding: 1.5rem 0;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1044px;
}

/* ---------------------------------- */

/* navbar  */
.navbar {
  top: 0;
  z-index: 100;
  padding: 0.55rem 0;
  position: sticky;
  background-color: #f1f1f1;
  box-shadow: 0 1px 3px rgb(146 161 176 / 20%);
}
.nav_wrapper {
  width: 90%;
  margin: 0 auto;
  align-items: center;
  max-width: 1124px;
  display: flex;
  justify-content: space-between;
}
.navbar .logo img {
  width: 4.5rem;
}
.navbar .nav_wrapper .hamburger {
  cursor: pointer;
  border: none;
  display: inline-block;
  background-color: #f1f1f1;
}
.hamburger .bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 3px;
  background-color: #000000;
  margin: 7px 0;
  transition: 0.4s;
}
.bar2 {
  width: 20px;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: translate(0, -9px) rotate(45deg);
}
.nav_menu {
  display: none;
}

/* Mobile nav  */
.sidenav {
  width: 65%;
  height: 91.4vh;
  position: fixed;
  z-index: 20;
  background-color: #f2f2f2;
  box-shadow: inset 0 1px 4px rgb(146 161 176 / 20%);
}
.sidenav .side_menu {
  padding: 1.5rem 0 0 1.5rem;
}
.sidenav .side_menu li {
  margin: 1.5rem 0;
  font-size: 1.2rem;
}
.deactived {
  display: none;
}

/* footer  */
.footer {
  background-color: #f1f1f1;
}
.footer_top {
  font-size: 1.1rem;
  margin-bottom: 3rem;
}
.footer_top li {
  margin: 1.2rem 0;
}
.footer_bottom {
  font-size: 0.88rem;
}
.footer_bottom .footer_credit {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    padding: 0.7rem 0;
  }
  .navbar .nav_wrapper .hamburger {
    display: none;
  }
  .nav_menu {
    display: block;
    gap: 3rem;
    display: flex;
    font-weight: 500;
  }

  /* footer  */
  .footer_bottom {
    display: flex;
    justify-content: space-between;
  }
  .footer_top {
    margin: 0 auto;
    max-width: 450px;
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
  }
  .footer_bottom .footer_credit {
    display: block;
  }
}
